<!DOCTYPE html>
	<html>
		<head>
			<title>Page Title</title>
				<meta http-equiv="Content-Type" content="text/html; " charset="UTF-8" />
		</head>
	<body>
		<p>Hello Hello</p>
		<br>
		
		<p>Kérlek, add meg az adatokat: </p>
		
		
		<form action="/reg" method="post">
		
			<input type="email" name="email" placeholder="email"/>
			<input type="password" name="pwd" placeholder="password"/>
			<input type="submit" />
			
		</form>
		
		
		<br>
		<form method="get" action="/login">
		
  		  <input type="submit">Login</input>
  		  
		</form>
		
		
		
	</body>
</html>